.music-player {
    background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-controls {
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#volume-slider {
    background-color: greenyellow;
        }
        input[type="range"] {
            width: 100%;
        }